# Default owners
* @elastic/otel-devs

# Per-component owners
processor/elasticinframetricsprocessor @elastic/obs-infraobs-integrations
processor/elasticapmprocessor          @elastic/obs-ds-intake-services @elastic/ingest-otel-data
processor/lsmintervalprocessor         @elastic/obs-ds-intake-services
connector/elasticapmconnector          @elastic/obs-ds-intake-services
extension/beatsauthextension           @elastic/elastic-agent-data-plane
extension/fileintegrationextension     @elastic/ecosystem @elastic/ingest-otel-data
processor/integrationprocessor         @elastic/ecosystem @elastic/ingest-otel-data
pkg/integrations                       @elastic/ecosystem @elastic/ingest-otel-data
