# Default owners
* @elastic/otel-devs

# Per-component owners
.github/workflows/bump_otelbench.yaml      @elastic/otel-devs @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
.github/workflows/changelog_otelbench.yaml @elastic/otel-devs @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
.github/workflows/release_otelbench.yaml   @elastic/otel-devs @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
internal/elasticattr                       @elastic/otel-devs @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
loadgen                                    @elastic/otel-devs @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
receiver/loadgenreceiver                   @elastic/otel-devs @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
receiver/elasticapmintakereceiver          @elastic/otel-devs @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services @elastic/obs-signals-traces-team
receiver/akamaisiemreceiver                @elastic/otel-devs @elastic/security-service-integrations
receiver/entityanalyticsreceiver           @elastic/otel-devs @elastic/security-service-integrations
receiver/vercelreceiver                    @elastic/otel-devs @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
processor/elasticinframetricsprocessor     @elastic/otel-devs @elastic/obs-infraobs-integrations
processor/elasticapmprocessor              @elastic/otel-devs @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services @elastic/obs-signals-traces-team
processor/elastictraceprocessor            @elastic/otel-devs @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services @elastic/obs-signals-traces-team
processor/lsmintervalprocessor             @elastic/otel-devs @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
processor/ratelimitprocessor               @elastic/otel-devs @elastic/ingest-managed-jobs
processor/integrationprocessor             @elastic/otel-devs @elastic/ecosystem
connector/elasticapmconnector              @elastic/otel-devs @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services @elastic/obs-signals-traces-team
extension/apikeyauthextension              @elastic/otel-devs @elastic/obs-ds-intake-services @elastic/obs-ds-hosted-services
extension/apmconfigextension               @elastic/otel-devs @elastic/obs-signals-traces-team
extension/fileintegrationextension         @elastic/otel-devs @elastic/ecosystem
extension/vercelencodingextension          @elastic/otel-devs @elastic/obs-infraobs-integrations
pkg/integrations                           @elastic/otel-devs @elastic/ecosystem
extension/awscredentialsproviderextension  @elastic/otel-devs @elastic/obs-infraobs-integrations
