# Default owners
* @elastic/otel-devs

# Per-component owners
processor/elasticinframetricsprocessor    @elastic/obs-infraobs-integrations
processor/elastictraceprocessor    @elastic/obs-ds-intake-services
connector/spanmetricsconnectorv2   @elastic/obs-ds-intake-services
