name: bump-otelbench
run-name: Bump otelbench version and update changelog

on:
  workflow_dispatch:
    inputs:
      version:
        description: Version of the otelbench image to release, should follow format "vN.N.N".
        required: true
  push:
    branches:
      - main
    paths:
      - ./loadgen/cmd/otelbench/Makefile

permissions:
  contents: read

jobs:
  check-release:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get-new-version.outputs.new_version }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: '0'

      - name: Checks if release is required.
        id: get-new-version
        shell: bash
        env:
          EVENT_NAME: ${{ github.event_name }}
          INPUT_VERSION: ${{ github.event.inputs.version }}
        run: |
          chmod +x ./.github/workflows/scripts/check_release.sh
          ./.github/workflows/scripts/check_release.sh "$EVENT_NAME" "$INPUT_VERSION"

  update-changelog:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    needs:
      - check-release
    if: needs.check-release.result == 'success'
    steps:
      - name: Get token to checkout on the repository and to create a PR
        id: get_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.OBS_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.OBS_AUTOMATION_APP_PEM }}
          permission-contents: write
          permission-pull-requests: write

      - uses: actions/checkout@v5
        with:
          token: ${{ steps.get_token.outputs.token }}

      - uses: elastic/oblt-actions/git/setup@edaa58bb2b83660bbe514736dc8f073d3d74db01
        with:
          github-token: ${{ steps.get_token.outputs.token }}

      - uses: actions/setup-go@v6
        with:
          go-version-file: internal/tools/go.mod
          cache: 'false'

      - name: Cache go tools
        id: go-tools-cache
        uses: actions/cache@v4
        with:
          path: ./.tools
          key: go-tools-${{ runner.os }}-${{ hashFiles('internal/tools/go.sum') }}

      - name: Add .tools to PATH
        run: echo "$GITHUB_WORKSPACE/.tools" >> $GITHUB_PATH

      # If there is no cache with the go tools,
      # install them. We need the changelog
      # tool for this workflow to work.
      - name: Install tools
        if: steps.go-tools-cache.outputs.cache-hit != 'true'
        run: |
          make install-tools

      - name: Update CHANGELOG and open PR.
        shell: bash
        run: |
          chmod +x ./.github/workflows/scripts/create_pr.sh
          ./.github/workflows/scripts/create_pr.sh "${{ needs.check-release.outputs.version }}" "${{ github.event_name }}"
        env:
          GH_TOKEN: ${{ steps.get_token.outputs.token }}
